@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", "system-ui", sans-serif;
  --font-lato: "Lato", "system-ui", sans-serif;

  --color-azul: #123498;
  --color-naranja: #f46f0b;
  --color-azul-marino: #096acc;
  --color-amarillo-hansa: #fdb907;
  --color-rojo-persa: #ce0b19;
  --color-turquesa: #41c4c0;
  --color-gris-oscuro: #a3a3a3;
  --color-blanco: #ffffff;

  --color-azul-profundo: #123498;
  --color-azul-brillante: #096acc;
  --color-naranja-oscuro: #f46f0b;
  --color-blanco-suave: #ffffff;
  --color-gris-texto: #a3a3a3;
  --color-gris-borde: #a3a3a3;
  --color-rojo: #ce0b19;
}

:root {
  --azul: #123498;
  --naranja: #f46f0b;
  --azul-marino: #096acc;
  --amarillo-hansa: #fdb907;
  --rojo-persa: #ce0b19;
  --turquesa: #41c4c0;
  --gris-oscuro: #a3a3a3;
  --blanco: #ffffff;

  --azul-profundo: #123498;
  --azul-brillante: #096acc;
  --naranja-oscuro: #f46f0b;
  --blanco-suave: #ffffff;
  --gris-texto: #a3a3a3;
  --gris-borde: #a3a3a3;
  --rojo: #ce0b19;
}

body {
  font-family: var(--font-lato);
  background: var(--blanco);
  color: var(--azul);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
  font-family: var(--font-montserrat);
}

.font-sans {
  font-family: var(--font-lato);
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide {
  animation: fadeInSlide 0.4s ease-out forwards;
}

@keyframes chipIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-chip-in {
  animation: chipIn 0.2s ease-out forwards;
}

/* Primary button style using main colors */
.btn-primary {
  background: var(--color-azul);
  /* primary blue */
  color: var(--color-blanco);
  border: none;
  font-weight: 600;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background: var(--color-azul-brillante);
}